body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("https://th.bing.com/th/id/OIP.wGU1vC55ouQOM9OGHHrBSQHaFj?rs=1&pid=ImgDetMain");
  background-size: cover;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 6rem;
}

p {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}

#message-el {
  font-style: italic;
}

#start {
  width: 200px;
  height: 70px;
  color: green;
  background-color: gold;
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 6px;
}

#newcard {
  width: 200px;
  height: 70px;
  color: green;
  background-color: gold;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 10px;
  border-radius: 6px;
}

#btncontainer {
  display: flex;
  flex-direction: row;
  
  
}
